
li a{
    text-decoration:none;
    display:block;
    color:white;
    font-size:20px;
    text-align:center;
    padding:20px 20px;
    width:180px;
    font-family: 'Times New Roman', Times, serif;
    }
    ul{
    list-style-type:none;
    margin:0;
    padding:0;
    float:right;
    overflow:hidden;
    }
    li a:hover{
    color:white;
    text-decoration: none;
    }
    
    li{
    float:right;
    }
    body{background-image: url("common.jpg");
        background-repeat: no-repeat;
        max-width:100%;
        height:aut0;
    }
    
    
    